<!-- 
  => Add a feature, make a pull request <=
  => https://github.com/juctaposed/aps <=

/ \
_____        _____     
|o o o|_______|    |___| /\
|o o o|  * * *|: ::|. .|//\\
|o o o|* * *  |::  |. .|((|))
|o o o|**  ** |:  :|. .|((|))
|_[]__|__[]___|_||_|__<|  | 
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Search for real estate details regarding land value, assessments, owner history, due taxes and tax history in Allegheny County, Pittsburgh, PA">
    <meta name="keywords" content="allegheny county, allegheny county assessment, real estate allegheny county, pittsburgh homes, pittsburgh, pittsburgh real estate, property taxes, real estate, realtor, realtor software, realtor toolkit, county tax, allegheny taxes">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@juctaposed">
    <meta name="og:title" content="Allegheny Property Search">
    <meta name="og:description" content="Assessments, tax, and owner history for properties in Allegheny County">
    <meta name="google-site-verification" content="gYI1oTf7ihJ8_DgX4et-mjQr9b-8MrZr98n4nQuYCQo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allegheny County Property Search</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <!-- load icons from fa -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Load DaisyUI CDN -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <div class="navbar bg-base-100">
        <div class="navbar-start">
          <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
              <li><a href="/about" alt="about-us">About</a></li>
              <li><a href="/contact" alt="contact-us">Contact Us</a></li>
            </ul>
          </div>
          <a href="/">
            <img src="/imgs/apsGoldv4.svg" class="nav-logo" width="275px" height="195px" alt="number-one-logo-in-the-world">
          </a>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal p-0">
            <li><a href="/about" alt="about-us">About</a></li>
            <li><a href="/contact" alt="contact-us">Contact Us</a></li>
          </ul>
        </div>
        <div class="navbar-end">
          <a href="/profile" class="btn btn-warning" alt="search-page">Search</a>
        </div>
      </div>
    </header>
  </body>
</html>