
<%- include('partials/header') -%>
<main class="main-container">
    <!-- Login without DaisyUI -->
    <!-- <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div> -->
    <!-- <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img src="https://www.telegraph.co.uk/content/dam/Travel/2016/September/pittsburg-cityscape-AP-TRAVEL.jpg?imwidth=960" width = 275px alt="pittsburgh" /></figure>
        <div class="card-body">
          <h2 class="card-title">Property</h2>
          <p>Log in with Google to view your Property</p>
          <div class="card-actions justify-end">
            <div class="row justify-content-around mt-5">
                <a href="/login" class="col-3 btn btn-primary"> Login</a>
                <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
          </div>
        </div>
      </div>
    </div> -->
    <div class="hero min-h-screen" style="background-image: url(https://www.telegraph.co.uk/content/dam/Travel/2016/September/pittsburg-cityscape-AP-TRAVEL.jpg?imwidth=960);">
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Allegheny County </h1>
          <p class="mb-5">Login to Search property records </p>
          <a href="/auth/google" button class="btn btn-primary">Login</a>

        </div>
      </div>
    </div>
</section>
</main>
    

<%- include('partials/footer') -%>