.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}



body{
    margin-top:20px;
    backgroundColor:#eee;
}
.home-5-bg {
    background: #f3c01a;
    position: relative;
    background-size: cover;
    height: 50vh;
    background-position: center center;
}

.section {
    position: relative;
}

.home-5-content {
  z-index: 1;
  position: relative;
}

.bg-overlay {
    background-color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

.home-5-content {
    z-index: 1;
    position: relative;
}

.text-white-70 {
    color: rgba(255, 255, 255, 0.8);
}

.f-15 {
    font-size: 15px;
}

.home-5-bg #particles-js {
    z-index: 1!important;
    position: absolute;
    width: 100%;
    height: 100%;
}
.mb-5 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media (max-width: 767px) {
    #propSearch{
        display: flex;
        justify-content: center;
        align-items: center
    }
}
@media screen and (max-width: 1024px) {
    .nav-logo {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
  }

.container {
    padding-bottom:13.5%;
    /* display: flex; */
}

.stat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.footer {
    position: absolute;
    width: 100%;
    font-size:small

  }
  /* Buttons */
#search-button {
    margin-bottom: 50%;
}

  /* Main */
  .btn-warning:hover {
    background-color: black;
    color: white;
    border: 2px solid gold;
  }
  
  /* Search Page */
  @media only screen and (max-width: 767px) {
    .profile-body,
    .mt-5 {
      text-align: center;
    }
  
    /* .search-container form {
      display: flex;
      flex-direction: column;
      align-items: center;
    } */
  
    ul.flex {
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .nav-logo {
      display: none;
    }
  }
  
  @media screen and (max-width: 640px) {
    .search-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 55px 0;
    }
  }
  /* Assessed values stacked vertically on mobile */
@media screen and (max-width: 767px) {
    .stats.stats-horizontal .stat {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .stats.stats-horizontal .stat-value {
      margin-top: 0.5rem;
    }
  }
  
  /* Market values stacked vertically on mobile */
  @media screen and (max-width: 767px) {
    .stats.stats-horizontal.lg\:flex-row.flex-col .stat {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .stats.stats-horizontal.lg\:flex-row.flex-col .stat-value {
      margin-top: 0.5rem;
    }
  }
  
  .additional-details {
    
  }